.logout{
	float:right;
}
/* html{
	background-color:#122344;
} */
a {
	text-decoration:none;
	margin-left:27px;
	color:#f4f7fc;
}
.header{
	padding: 10px 10px 10px 10px;
	background-color:#122344;
	color:#f4f7fc;
}
#events{
	height: 250px;
	width: 400px;
	border-style: solid;
	border-color: black;
	border-width: thin;
	/* color: white; */
}
.topicblock{
	/* color: white; */
	height:55px;
	width: 145px;
	border-style: solid;
	border-color: black;
	border-width: thin;
	text-align: center;
	display: inline-block;
	padding: 8px 8px 8px 8px;
	margin-top: 3px;
}
#issue_areas{
	display: inline-block;
	vertical-align: top;
	margin-left: 28px;
	/* color: white; */
	/* background-color: #5e6a7c; */
	padding: 8px 8px 8px 8px;
}
.issuearea_heading{
	margin-left: 118px;
	/* color: white; */
}
.upcomingevents{
	display: inline-block;
	/* color: white; */
}
.upcomingevents_heading{
	margin-left: 82px;
	/* color: white; */
}
